* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: arial;
    outline-style: none;
    border-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1125px;
    margin: auto;
    @media only screen and (max-width: 1125px) {
        width: 100%;
    }
}